<h1>Administrera kvitter</h1>

<table>
  <tr>
    <th>Msg</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.msg %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt kvitter', new_message_path %>
